@import url("https://fonts.googleapis.com/css2?family=Festive&family=Monoton&family=Montserrat:wght@300;400;600&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book {
  height: 600px;
  width: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.page {
  width: 500px;
  height: 600px;
  background: #EEE6CE;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.116);
}

.page:nth-child(1) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-1px);
          transform: translatez(-1px);
}

.left-side:nth-child(1) {
  -webkit-transform: translatez(1px) rotatey(-180deg);
          transform: translatez(1px) rotatey(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-2px) scalex(-1) translatex(100%);
          transform: translatez(-2px) scalex(-1) translatex(100%);
}

.left-side:nth-child(2) {
  -webkit-transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-3px);
          transform: translatez(-3px);
}

.left-side:nth-child(3) {
  -webkit-transform: translatez(3px) rotatey(-180deg);
          transform: translatez(3px) rotatey(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-4px) scalex(-1) translatex(100%);
          transform: translatez(-4px) scalex(-1) translatex(100%);
}

.left-side:nth-child(4) {
  -webkit-transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-5px);
          transform: translatez(-5px);
}

.left-side:nth-child(5) {
  -webkit-transform: translatez(5px) rotatey(-180deg);
          transform: translatez(5px) rotatey(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-6px) scalex(-1) translatex(100%);
          transform: translatez(-6px) scalex(-1) translatex(100%);
}

.left-side:nth-child(6) {
  -webkit-transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-7px);
          transform: translatez(-7px);
}

.left-side:nth-child(7) {
  -webkit-transform: translatez(7px) rotatey(-180deg);
          transform: translatez(7px) rotatey(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-8px) scalex(-1) translatex(100%);
          transform: translatez(-8px) scalex(-1) translatex(100%);
}

.left-side:nth-child(8) {
  -webkit-transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(9) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-9px);
          transform: translatez(-9px);
}

.left-side:nth-child(9) {
  -webkit-transform: translatez(9px) rotatey(-180deg);
          transform: translatez(9px) rotatey(-180deg);
}

.page:nth-child(10) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-10px) scalex(-1) translatex(100%);
          transform: translatez(-10px) scalex(-1) translatex(100%);
}

.left-side:nth-child(10) {
  -webkit-transform: translatez(10px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(10px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(11) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-11px);
          transform: translatez(-11px);
}

.left-side:nth-child(11) {
  -webkit-transform: translatez(11px) rotatey(-180deg);
          transform: translatez(11px) rotatey(-180deg);
}

.page:nth-child(12) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-12px) scalex(-1) translatex(100%);
          transform: translatez(-12px) scalex(-1) translatex(100%);
}

.left-side:nth-child(12) {
  -webkit-transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(13) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-13px);
          transform: translatez(-13px);
}

.left-side:nth-child(13) {
  -webkit-transform: translatez(13px) rotatey(-180deg);
          transform: translatez(13px) rotatey(-180deg);
}

.page:nth-child(14) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-14px) scalex(-1) translatex(100%);
          transform: translatez(-14px) scalex(-1) translatex(100%);
}

.left-side:nth-child(14) {
  -webkit-transform: translatez(14px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(14px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(15) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-15px);
          transform: translatez(-15px);
}

.left-side:nth-child(15) {
  -webkit-transform: translatez(15px) rotatey(-180deg);
          transform: translatez(15px) rotatey(-180deg);
}

.page:nth-child(16) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-16px) scalex(-1) translatex(100%);
          transform: translatez(-16px) scalex(-1) translatex(100%);
}

.left-side:nth-child(16) {
  -webkit-transform: translatez(16px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(16px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(17) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-17px);
          transform: translatez(-17px);
}

.left-side:nth-child(17) {
  -webkit-transform: translatez(17px) rotatey(-180deg);
          transform: translatez(17px) rotatey(-180deg);
}

.page:nth-child(18) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-18px) scalex(-1) translatex(100%);
          transform: translatez(-18px) scalex(-1) translatex(100%);
}

.left-side:nth-child(18) {
  -webkit-transform: translatez(18px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(18px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(19) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-19px);
          transform: translatez(-19px);
}

.left-side:nth-child(19) {
  -webkit-transform: translatez(19px) rotatey(-180deg);
          transform: translatez(19px) rotatey(-180deg);
}

.page:nth-child(20) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-20px) scalex(-1) translatex(100%);
          transform: translatez(-20px) scalex(-1) translatex(100%);
}

.left-side:nth-child(20) {
  -webkit-transform: translatez(20px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(20px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(21) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-21px);
          transform: translatez(-21px);
}

.left-side:nth-child(21) {
  -webkit-transform: translatez(21px) rotatey(-180deg);
          transform: translatez(21px) rotatey(-180deg);
}

.page:nth-child(22) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-22px) scalex(-1) translatex(100%);
          transform: translatez(-22px) scalex(-1) translatex(100%);
}

.left-side:nth-child(22) {
  -webkit-transform: translatez(22px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(22px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(23) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-23px);
          transform: translatez(-23px);
}

.left-side:nth-child(23) {
  -webkit-transform: translatez(23px) rotatey(-180deg);
          transform: translatez(23px) rotatey(-180deg);
}

.page:nth-child(24) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-24px) scalex(-1) translatex(100%);
          transform: translatez(-24px) scalex(-1) translatex(100%);
}

.left-side:nth-child(24) {
  -webkit-transform: translatez(24px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(24px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(25) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-25px);
          transform: translatez(-25px);
}

.left-side:nth-child(25) {
  -webkit-transform: translatez(25px) rotatey(-180deg);
          transform: translatez(25px) rotatey(-180deg);
}

.page:nth-child(26) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-26px) scalex(-1) translatex(100%);
          transform: translatez(-26px) scalex(-1) translatex(100%);
}

.left-side:nth-child(26) {
  -webkit-transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(27) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-27px);
          transform: translatez(-27px);
}

.left-side:nth-child(27) {
  -webkit-transform: translatez(27px) rotatey(-180deg);
          transform: translatez(27px) rotatey(-180deg);
}

.page:nth-child(28) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-28px) scalex(-1) translatex(100%);
          transform: translatez(-28px) scalex(-1) translatex(100%);
}

.left-side:nth-child(28) {
  -webkit-transform: translatez(28px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(28px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(29) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-29px);
          transform: translatez(-29px);
}

.left-side:nth-child(29) {
  -webkit-transform: translatez(29px) rotatey(-180deg);
          transform: translatez(29px) rotatey(-180deg);
}

.page:nth-child(30) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-30px) scalex(-1) translatex(100%);
          transform: translatez(-30px) scalex(-1) translatex(100%);
}

.left-side:nth-child(30) {
  -webkit-transform: translatez(30px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(30px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(31) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-31px);
          transform: translatez(-31px);
}

.left-side:nth-child(31) {
  -webkit-transform: translatez(31px) rotatey(-180deg);
          transform: translatez(31px) rotatey(-180deg);
}

.page:nth-child(32) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-32px) scalex(-1) translatex(100%);
          transform: translatez(-32px) scalex(-1) translatex(100%);
}

.left-side:nth-child(32) {
  -webkit-transform: translatez(32px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(32px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(33) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-33px);
          transform: translatez(-33px);
}

.left-side:nth-child(33) {
  -webkit-transform: translatez(33px) rotatey(-180deg);
          transform: translatez(33px) rotatey(-180deg);
}

.page:nth-child(34) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-34px) scalex(-1) translatex(100%);
          transform: translatez(-34px) scalex(-1) translatex(100%);
}

.left-side:nth-child(34) {
  -webkit-transform: translatez(34px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(34px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(35) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-35px);
          transform: translatez(-35px);
}

.left-side:nth-child(35) {
  -webkit-transform: translatez(35px) rotatey(-180deg);
          transform: translatez(35px) rotatey(-180deg);
}

.page:nth-child(36) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-36px) scalex(-1) translatex(100%);
          transform: translatez(-36px) scalex(-1) translatex(100%);
}

.left-side:nth-child(36) {
  -webkit-transform: translatez(36px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(36px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(37) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-37px);
          transform: translatez(-37px);
}

.left-side:nth-child(37) {
  -webkit-transform: translatez(37px) rotatey(-180deg);
          transform: translatez(37px) rotatey(-180deg);
}

.page:nth-child(38) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-38px) scalex(-1) translatex(100%);
          transform: translatez(-38px) scalex(-1) translatex(100%);
}

.left-side:nth-child(38) {
  -webkit-transform: translatez(38px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(38px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(39) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-39px);
          transform: translatez(-39px);
}

.left-side:nth-child(39) {
  -webkit-transform: translatez(39px) rotatey(-180deg);
          transform: translatez(39px) rotatey(-180deg);
}

.page:nth-child(40) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-40px) scalex(-1) translatex(100%);
          transform: translatez(-40px) scalex(-1) translatex(100%);
}

.left-side:nth-child(40) {
  -webkit-transform: translatez(40px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(40px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(41) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-41px);
          transform: translatez(-41px);
}

.left-side:nth-child(41) {
  -webkit-transform: translatez(41px) rotatey(-180deg);
          transform: translatez(41px) rotatey(-180deg);
}

.page:nth-child(42) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-42px) scalex(-1) translatex(100%);
          transform: translatez(-42px) scalex(-1) translatex(100%);
}

.left-side:nth-child(42) {
  -webkit-transform: translatez(42px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(42px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(43) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-43px);
          transform: translatez(-43px);
}

.left-side:nth-child(43) {
  -webkit-transform: translatez(43px) rotatey(-180deg);
          transform: translatez(43px) rotatey(-180deg);
}

.page:nth-child(44) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-44px) scalex(-1) translatex(100%);
          transform: translatez(-44px) scalex(-1) translatex(100%);
}

.left-side:nth-child(44) {
  -webkit-transform: translatez(44px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(44px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(45) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-45px);
          transform: translatez(-45px);
}

.left-side:nth-child(45) {
  -webkit-transform: translatez(45px) rotatey(-180deg);
          transform: translatez(45px) rotatey(-180deg);
}

.page:nth-child(46) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-46px) scalex(-1) translatex(100%);
          transform: translatez(-46px) scalex(-1) translatex(100%);
}

.left-side:nth-child(46) {
  -webkit-transform: translatez(46px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(46px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(47) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-47px);
          transform: translatez(-47px);
}

.left-side:nth-child(47) {
  -webkit-transform: translatez(47px) rotatey(-180deg);
          transform: translatez(47px) rotatey(-180deg);
}

.page:nth-child(48) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-48px) scalex(-1) translatex(100%);
          transform: translatez(-48px) scalex(-1) translatex(100%);
}

.left-side:nth-child(48) {
  -webkit-transform: translatez(48px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(48px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(49) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-49px);
          transform: translatez(-49px);
}

.left-side:nth-child(49) {
  -webkit-transform: translatez(49px) rotatey(-180deg);
          transform: translatez(49px) rotatey(-180deg);
}

.page:nth-child(50) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-50px) scalex(-1) translatex(100%);
          transform: translatez(-50px) scalex(-1) translatex(100%);
}

.left-side:nth-child(50) {
  -webkit-transform: translatez(50px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(50px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(51) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-51px);
          transform: translatez(-51px);
}

.left-side:nth-child(51) {
  -webkit-transform: translatez(51px) rotatey(-180deg);
          transform: translatez(51px) rotatey(-180deg);
}

.page:nth-child(52) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-52px) scalex(-1) translatex(100%);
          transform: translatez(-52px) scalex(-1) translatex(100%);
}

.left-side:nth-child(52) {
  -webkit-transform: translatez(52px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(52px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(53) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-53px);
          transform: translatez(-53px);
}

.left-side:nth-child(53) {
  -webkit-transform: translatez(53px) rotatey(-180deg);
          transform: translatez(53px) rotatey(-180deg);
}

.page:nth-child(54) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-54px) scalex(-1) translatex(100%);
          transform: translatez(-54px) scalex(-1) translatex(100%);
}

.left-side:nth-child(54) {
  -webkit-transform: translatez(54px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(54px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(55) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-55px);
          transform: translatez(-55px);
}

.left-side:nth-child(55) {
  -webkit-transform: translatez(55px) rotatey(-180deg);
          transform: translatez(55px) rotatey(-180deg);
}

.page:nth-child(56) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-56px) scalex(-1) translatex(100%);
          transform: translatez(-56px) scalex(-1) translatex(100%);
}

.left-side:nth-child(56) {
  -webkit-transform: translatez(56px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(56px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(57) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-57px);
          transform: translatez(-57px);
}

.left-side:nth-child(57) {
  -webkit-transform: translatez(57px) rotatey(-180deg);
          transform: translatez(57px) rotatey(-180deg);
}

.page:nth-child(58) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-58px) scalex(-1) translatex(100%);
          transform: translatez(-58px) scalex(-1) translatex(100%);
}

.left-side:nth-child(58) {
  -webkit-transform: translatez(58px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(58px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(59) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-59px);
          transform: translatez(-59px);
}

.left-side:nth-child(59) {
  -webkit-transform: translatez(59px) rotatey(-180deg);
          transform: translatez(59px) rotatey(-180deg);
}

.page:nth-child(60) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-60px) scalex(-1) translatex(100%);
          transform: translatez(-60px) scalex(-1) translatex(100%);
}

.left-side:nth-child(60) {
  -webkit-transform: translatez(60px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(60px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(61) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-61px);
          transform: translatez(-61px);
}

.left-side:nth-child(61) {
  -webkit-transform: translatez(61px) rotatey(-180deg);
          transform: translatez(61px) rotatey(-180deg);
}

.page:nth-child(62) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-62px) scalex(-1) translatex(100%);
          transform: translatez(-62px) scalex(-1) translatex(100%);
}

.left-side:nth-child(62) {
  -webkit-transform: translatez(62px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(62px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(63) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-63px);
          transform: translatez(-63px);
}

.left-side:nth-child(63) {
  -webkit-transform: translatez(63px) rotatey(-180deg);
          transform: translatez(63px) rotatey(-180deg);
}

.page:nth-child(64) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-64px) scalex(-1) translatex(100%);
          transform: translatez(-64px) scalex(-1) translatex(100%);
}

.left-side:nth-child(64) {
  -webkit-transform: translatez(64px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(64px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(65) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-65px);
          transform: translatez(-65px);
}

.left-side:nth-child(65) {
  -webkit-transform: translatez(65px) rotatey(-180deg);
          transform: translatez(65px) rotatey(-180deg);
}

.page:nth-child(66) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-66px) scalex(-1) translatex(100%);
          transform: translatez(-66px) scalex(-1) translatex(100%);
}

.left-side:nth-child(66) {
  -webkit-transform: translatez(66px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(66px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(67) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-67px);
          transform: translatez(-67px);
}

.left-side:nth-child(67) {
  -webkit-transform: translatez(67px) rotatey(-180deg);
          transform: translatez(67px) rotatey(-180deg);
}

.page:nth-child(68) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-68px) scalex(-1) translatex(100%);
          transform: translatez(-68px) scalex(-1) translatex(100%);
}

.left-side:nth-child(68) {
  -webkit-transform: translatez(68px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(68px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(69) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-69px);
          transform: translatez(-69px);
}

.left-side:nth-child(69) {
  -webkit-transform: translatez(69px) rotatey(-180deg);
          transform: translatez(69px) rotatey(-180deg);
}

.page:nth-child(70) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-70px) scalex(-1) translatex(100%);
          transform: translatez(-70px) scalex(-1) translatex(100%);
}

.left-side:nth-child(70) {
  -webkit-transform: translatez(70px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(70px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(71) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-71px);
          transform: translatez(-71px);
}

.left-side:nth-child(71) {
  -webkit-transform: translatez(71px) rotatey(-180deg);
          transform: translatez(71px) rotatey(-180deg);
}

.page:nth-child(72) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-72px) scalex(-1) translatex(100%);
          transform: translatez(-72px) scalex(-1) translatex(100%);
}

.left-side:nth-child(72) {
  -webkit-transform: translatez(72px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(72px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(73) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-73px);
          transform: translatez(-73px);
}

.left-side:nth-child(73) {
  -webkit-transform: translatez(73px) rotatey(-180deg);
          transform: translatez(73px) rotatey(-180deg);
}

.page:nth-child(74) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-74px) scalex(-1) translatex(100%);
          transform: translatez(-74px) scalex(-1) translatex(100%);
}

.left-side:nth-child(74) {
  -webkit-transform: translatez(74px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(74px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(75) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-75px);
          transform: translatez(-75px);
}

.left-side:nth-child(75) {
  -webkit-transform: translatez(75px) rotatey(-180deg);
          transform: translatez(75px) rotatey(-180deg);
}

.page:nth-child(76) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-76px) scalex(-1) translatex(100%);
          transform: translatez(-76px) scalex(-1) translatex(100%);
}

.left-side:nth-child(76) {
  -webkit-transform: translatez(76px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(76px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(77) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-77px);
          transform: translatez(-77px);
}

.left-side:nth-child(77) {
  -webkit-transform: translatez(77px) rotatey(-180deg);
          transform: translatez(77px) rotatey(-180deg);
}

.page:nth-child(78) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-78px) scalex(-1) translatex(100%);
          transform: translatez(-78px) scalex(-1) translatex(100%);
}

.left-side:nth-child(78) {
  -webkit-transform: translatez(78px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(78px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(79) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-79px);
          transform: translatez(-79px);
}

.left-side:nth-child(79) {
  -webkit-transform: translatez(79px) rotatey(-180deg);
          transform: translatez(79px) rotatey(-180deg);
}

.page:nth-child(80) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-80px) scalex(-1) translatex(100%);
          transform: translatez(-80px) scalex(-1) translatex(100%);
}

.left-side:nth-child(80) {
  -webkit-transform: translatez(80px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(80px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(81) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-81px);
          transform: translatez(-81px);
}

.left-side:nth-child(81) {
  -webkit-transform: translatez(81px) rotatey(-180deg);
          transform: translatez(81px) rotatey(-180deg);
}

.page:nth-child(82) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-82px) scalex(-1) translatex(100%);
          transform: translatez(-82px) scalex(-1) translatex(100%);
}

.left-side:nth-child(82) {
  -webkit-transform: translatez(82px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(82px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(83) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-83px);
          transform: translatez(-83px);
}

.left-side:nth-child(83) {
  -webkit-transform: translatez(83px) rotatey(-180deg);
          transform: translatez(83px) rotatey(-180deg);
}

.page:nth-child(84) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-84px) scalex(-1) translatex(100%);
          transform: translatez(-84px) scalex(-1) translatex(100%);
}

.left-side:nth-child(84) {
  -webkit-transform: translatez(84px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(84px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(85) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-85px);
          transform: translatez(-85px);
}

.left-side:nth-child(85) {
  -webkit-transform: translatez(85px) rotatey(-180deg);
          transform: translatez(85px) rotatey(-180deg);
}

.page:nth-child(86) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-86px) scalex(-1) translatex(100%);
          transform: translatez(-86px) scalex(-1) translatex(100%);
}

.left-side:nth-child(86) {
  -webkit-transform: translatez(86px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(86px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(87) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-87px);
          transform: translatez(-87px);
}

.left-side:nth-child(87) {
  -webkit-transform: translatez(87px) rotatey(-180deg);
          transform: translatez(87px) rotatey(-180deg);
}

.page:nth-child(88) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-88px) scalex(-1) translatex(100%);
          transform: translatez(-88px) scalex(-1) translatex(100%);
}

.left-side:nth-child(88) {
  -webkit-transform: translatez(88px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(88px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(89) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-89px);
          transform: translatez(-89px);
}

.left-side:nth-child(89) {
  -webkit-transform: translatez(89px) rotatey(-180deg);
          transform: translatez(89px) rotatey(-180deg);
}

.page:nth-child(90) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-90px) scalex(-1) translatex(100%);
          transform: translatez(-90px) scalex(-1) translatex(100%);
}

.left-side:nth-child(90) {
  -webkit-transform: translatez(90px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(90px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(91) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-91px);
          transform: translatez(-91px);
}

.left-side:nth-child(91) {
  -webkit-transform: translatez(91px) rotatey(-180deg);
          transform: translatez(91px) rotatey(-180deg);
}

.page:nth-child(92) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-92px) scalex(-1) translatex(100%);
          transform: translatez(-92px) scalex(-1) translatex(100%);
}

.left-side:nth-child(92) {
  -webkit-transform: translatez(92px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(92px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(93) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-93px);
          transform: translatez(-93px);
}

.left-side:nth-child(93) {
  -webkit-transform: translatez(93px) rotatey(-180deg);
          transform: translatez(93px) rotatey(-180deg);
}

.page:nth-child(94) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-94px) scalex(-1) translatex(100%);
          transform: translatez(-94px) scalex(-1) translatex(100%);
}

.left-side:nth-child(94) {
  -webkit-transform: translatez(94px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(94px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(95) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-95px);
          transform: translatez(-95px);
}

.left-side:nth-child(95) {
  -webkit-transform: translatez(95px) rotatey(-180deg);
          transform: translatez(95px) rotatey(-180deg);
}

.page:nth-child(96) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-96px) scalex(-1) translatex(100%);
          transform: translatez(-96px) scalex(-1) translatex(100%);
}

.left-side:nth-child(96) {
  -webkit-transform: translatez(96px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(96px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(97) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-97px);
          transform: translatez(-97px);
}

.left-side:nth-child(97) {
  -webkit-transform: translatez(97px) rotatey(-180deg);
          transform: translatez(97px) rotatey(-180deg);
}

.page:nth-child(98) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-98px) scalex(-1) translatex(100%);
          transform: translatez(-98px) scalex(-1) translatex(100%);
}

.left-side:nth-child(98) {
  -webkit-transform: translatez(98px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(98px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(99) {
  padding: 5% 4% 4% 5%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translatez(-99px);
          transform: translatez(-99px);
}

.left-side:nth-child(99) {
  -webkit-transform: translatez(99px) rotatey(-180deg);
          transform: translatez(99px) rotatey(-180deg);
}

.page:nth-child(100) {
  padding: 5% 5% 4% 4%;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translatez(-100px) scalex(-1) translatex(100%);
          transform: translatez(-100px) scalex(-1) translatex(100%);
}

.left-side:nth-child(100) {
  -webkit-transform: translatez(100px) scalex(-1) translatex(100%) rotatey(180deg);
          transform: translatez(100px) scalex(-1) translatex(100%) rotatey(180deg);
}

.cover {
  font-family: "Monoton", cursive;
  font-size: 40px;
  color: #B8405E;
  font-weight: bold;
}

.cover .title h1 {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover .title h1 .lead-rest {
  margin-left: -20px;
}

.cover .lead {
  font-size: 180px;
  line-height: 200px;
}

.cover .with {
  color: #2EB086;
  position: relative;
  height: 70px;
}

.cover .with span {
  position: absolute;
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
  top: -10px;
  left: 80px;
}

.cover p {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

.cover::before {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background: #0000001f;
  position: absolute;
}

.page2 {
  background-color: #B8405E;
  color: #fff;
}

.page2 .quote-wrapper {
  width: 100%;
  margin: 100px auto;
  font-size: 32px;
  font-family: "Gaegu", cursive;
  font-style: italic;
}

.page2 .author {
  margin-top: 20px;
}

.page3 {
  background-color: #B8405E;
}

.page4 {
  background-color: #fff;
}

.page4 .title {
  font-family: "Gaegu", cursive;
  font-size: 28px;
  font-weight: 300;
  margin: 41px 0;
}

.page4 .wrapper {
  border-radius: 14px;
  -webkit-box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 5px 14px 4px rgba(0, 0, 0, 0.281);
  overflow: hidden;
  border-radius: 10px;
}

.page4 .sky {
  background-color: #28B5B5;
  text-align: end;
  height: 200px;
  padding: 20px;
}

.page4 .sky img {
  width: 80px;
}

.page4 .road {
  height: 150px;
  background-color: #D2E69C;
}

.page4 .road img {
  height: 100px;
  -webkit-animation: ride 2s infinite;
          animation: ride 2s infinite;
}

@-webkit-keyframes ride {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

@keyframes ride {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
/*# sourceMappingURL=style.css.map */