@import url('https://fonts.googleapis.com/css2?family=Festive&family=Monoton&family=Montserrat:wght@300;400;600&family=Shizuru&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
$colo1:#fff1d3;
$colo2:#2EB086;
$colo3:#B8405E;
$colo4:#313552;
$colo5:#398AB9;
$colo6:#1C658C;
$colo7:#EEEEEE;

$colo8:#151D3B;
$colo9:#D82148;
$colo10:#6EBF8B;
$winter-color:#30475E;
$winter-color2:#F05454;
$winter-color-bg:#F5F5F5;

$font1: 'Festive', cursive;
$font2: 'Monoton', cursive;
$font3: 'Montserrat', sans-serif;
$font4: 'Shizuru', cursive;  
$font5: 'Gaegu', cursive;

@mixin btn-style($winter){

    @if $winter{

        .choices-wrapper div:nth-child(1) {
            color: $winter-color2;
        }
        .choices-wrapper div:nth-child(2) {
            color: $winter-color;
        } 
    } @else{

        .choices-wrapper div:nth-child(1) {
            color: $colo9;
        }
        .choices-wrapper div:nth-child(2) {
            color: $colo10;
        } 
    }
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    width: 100%;
    height: 100vh;
    // min-width: 1000px;
    // min-height: 700px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
}
.book {
    @extend %absolute-center;
   height: 600px;
   width: 1000px;
    transform-style: preserve-3d;
}
.page {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 2s ease;
    font-size: 20px;
    background-color: #fff;
    text-align: justify;
}


@for $i from 1 through 100 {
    .page:nth-child(#{$i}) {
        @if $i % 2 == 1 {
            padding: 5% 4% 4% 5%;
            transform-origin: 0 50% ;
            transform: translatez(-1px *$i ) ;
            box-shadow: 0px 5px 14px 4px rgba(216, 214, 214, 0.068);
      } @else {
        padding: 0;
        transform-origin: 100% 50%;
        transform: translatez(-1px * $i) scalex(-1) translatex(100%) ;
        overflow: hidden;
      }
      
    
    }

    .left-side:nth-child(#{$i}) {
        @if $i % 2 == 1 {
          transform: translatez(1px * $i) rotatey(-180deg);
        } @else {
          transform: translatez(1px * $i) scalex(-1) translatex(100%) rotatey(180deg);
        }
      }
}


.cover{
    font-family: $font2;
    font-size: 40px;
    color: #B8405E;
    font-weight: bold;
    background: $colo1;
    .title{
        h1{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            .lead-rest{
                margin-left: -20px;
            }
        }
    }
    .lead{
        font-size: 180px;
        line-height: 200px;
    }

    .with{
        color: #2EB086;
        position: relative;
        height: 70px;
        span{
            position: absolute;
            transform: rotateZ(270deg);
            top: -10px;
            left: 80px
        }
        
    }
    p{
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
    }
    &::before{
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        background: #0000001f;
        position: absolute;
    }
}
 
.page2{
    background: $colo1;
    
    img{
        width: 180px;
        position: absolute;
        top: -10px;
        transform-origin:  50% 0;
        animation: hang 4s infinite linear ;
        left: 40%;
    }
}

.page3{
    background-color: $winter-color-bg;
    color: $winter-color;
    
    @include btn-style($winter: false);
    .text{
        background: #fff;
        padding: 20px;
        border-radius: 14px;
        text-align: justify;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
}
.page4{
    background-color: $colo8;
    padding:0 !important;
    img{
        height: 100%;
        transform: rotate(180deg);
        right: 0;
        position: absolute
    }
}
.page5{
    background: #fff;

    @include btn-style($winter: false)
    // .choices-wrapper div:nth-child(1) {
    //     color: $colo3;
    // }
    // .choices-wrapper div:nth-child(2) {
    //     color: $colo2;
    // }
}
.page6{
    background: $winter-color;
    padding: 0 !important;
    img{
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
    }
}
.page7, .page9{
    background: $winter-color-bg;
    color: $winter-color;
    @include btn-style($winter: true)
}

.page8{
    background: $winter-color-bg;
    img{
        width: 100%;
        transform: rotate(45deg);
         position: absolute;
         top: 20%;
    }
}
.page16{
    background: #000;
    img{
        width: 300px;
        @extend %absolute-center;
    }
    
}
.page18{
    img{
        width: 100%;
    background: $colo1;
    position: absolute;
    bottom: 0;
    height: 100%;
    }
}
 

.choices-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.circle{
    border: 1px solid;
    // color: red;
    border-radius: 50%;
    padding: 20px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4em;
     
}
.circle:hover{
    transform: scale(1.2);

}

.target{
    color: $colo2;
    text-decoration: underline;
}


@keyframes hang{
    0%{transform: rotate(20deg);}
    40%{transform: rotate(-10deg);}
    90%{transform: rotate(30deg);}
    100%{transform: rotate(20deg);}
}

// @keyframes comeDown{
//     0%{top : -220px}
//     60%{top: -10px}
//     70%{top:5px}
//     100%{top:0px}
// }